$color1: #000;
$color2: #fff;
:export {
  color1: $color1;
  color2: $color2;
  linkBackgroundColor: linear-gradient(to right, $color1, $color2);
  pageBackgroundColor: linear-gradient(to bottom, $color1, $color2);
}
.content {
  height: 100%;
}

.content :global {
  p {
    color: $color1;
  }
}

.contentInner {
  height: 100%;
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    background-image: url(./profile.jpg);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    line-height: 1;
    text-align: center;
    margin: 0;
    filter: grayscale(1);
    text-transform: uppercase;
    background-position: 0 30%;
    font-family: Oswald;
    font-size: 10em;

    span {
      text-transform: lowercase;
    }
  }
}
