$pageTransitionTime: 1s;

.page {
  height: 100%;
  width: 75px;
  position: relative;
  // transition: width $pageTransitionTime;
  border-right: 1px solid #efefef;
  overflow: hidden;
  transform: translateZ(0);
  will-change: width;

  &.active {
    width: calc(100% - 300px);
    z-index: 1;
    overflow-y: scroll;
    // .pageBackground {
    //   opacity: 0;
    // }
    .pageContent {
      opacity: 1;
      transition: opacity 300ms;
      transition-delay: $pageTransitionTime;
    }
  }
}
.pageBackground {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--pageBackgroundColor);
  z-index: 1;
  // display: none;
  transform: scaleX(0);
  opacity: 1;
}
.pageContent {
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.pageLink {
  display: none;
  cursor: pointer;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg) translate(100%, 0);
  transform-origin: top right;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  height: 75px;
  width: 100vh;
  padding: 0 15px;
  transition: opacity 300ms;
  user-select: none;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  &:before {
    content: attr(data-text);
    color: var(--linkTextColor);
    background: var(--linkBackgroundColor);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip: rect(0, 0, 75px, 0);
    clip-path: inset(0 100% 0 0);
    transition: clip 450ms, clip-path 450ms;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:hover {
    &:before {
      clip: rect(0, 100vh, 75px, 0);
      clip-path: inset(0);
    }
  }
  p {
    margin: 0;
    width: 0;
    color: #000;
  }
}

:global {
  .page-background-exit-active {
    opacity: 0;
    transform: scaleX(1);
    transition: transform 1s, opacity 500ms ease 500ms;
  }
  .fade-in-out-appear-done {
    display: flex;
  }
  .fade-in-out-enter {
    display: flex;
    opacity: 0;
  }
  .fade-in-out-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .fade-in-out-enter-done {
    display: flex;
  }
  .fade-in-out-exit {
    opacity: 1;
  }
  .fade-in-out-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  .fade-in-out-exit-done {
    display: none;
  }
}

// @for $i from 1 to 6 {
//   .page:nth-child(#{$i}) .pageLink:before {
//     animation: initialLink-#{$i} 1s;
//     animation-delay: $i * 0.25s;
//   }
//   @keyframes initialLink-#{$i} {
//     0% {
//       clip: rect(0, 100vh, 75px, 0);
//       clip-path: inset(0);
//     }
//     100% {
//       clip: rect(0, 0, 75px, 0);
//       clip-path: inset(0 100% 0 0);
//     }
//   }
// }
