$color1: #320300;
$color2: #e24500;
$color3: #ff8d00;
$color4: #ffe658;
$color5: #ffffd0;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
  linkBackgroundColor: linear-gradient(
    to right,
    $color1,
    $color2,
    $color3,
    $color4,
    $color5
  );
  linkTextColor: $color2;
  pageBackgroundColor: linear-gradient(
    to bottom,
    $color1,
    $color2,
    $color3,
    $color4,
    $color5
  );
  textColor: $color5;
  accentColor: $color4;
}

.content {
  h2 {
    color: $color3;
  }
  p {
    color: $color1;
  }
}

.content > section:first-of-type {
  min-height: 100vh;
  padding: 5vmax;
}

.title {
  font-family: "Permanent Marker", cursive;
  font-size: 5vmax;
  color: $color1;
  text-shadow: -4px 0 0 $color2;
  margin-top: 0;
}

.projectList {
  margin: -15px;
}

.projectThumb {
  width: calc(50% - 30px);
  margin: 15px;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      135deg,
      $color1,
      $color2,
      $color3,
      $color4,
      $color5
    );
  }

  img {
    width: 100%;
    transform: scale(0.975);
    filter: grayscale(1);
    transition: all 300ms;
  }

  &:hover {
    img {
      transform: scale(0.95);
      filter: grayscale(0);
    }
  }
}

.projectImage {
  width: 100%;

  img {
    width: 100%;
  }
}
