.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 5em;
    background: repeating-linear-gradient(270deg, var(--background));
    background-size: var(--backgroundSize);
    animation: background 5s ease infinite;
    background-clip: text;
    color: transparent;
    font-weight: 900;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
